/* FONT */


/* LAYOUT */
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 35em;
    height: 35em;
    border: 2px solid #FFFDFE;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

